* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

window#waybar.bar1 {
    background-color: rgba(0,0,0,0.0);
}

#workspaces button {
    padding: 0 16px 0 16px;
    margin: 0 4px 0 0;
    outline: 0;
    color: #ffffff;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.85);
    border: solid 1px rgba(255,255,255,0.4);
}

#workspaces button.active {
    padding: 0 28px 0 28px;
    color: #ffa500;
    border: solid 1px #ffa500;
}

#custom-keyboard-icon {
    color:#ffa500;
    font-size: 14px;
    padding: 0 10px 0 8px;
    background-color:rgba(255,255,255,0.15);
}

#language {
    color: #ffffff;
    padding: 0 0 0 0;
    background-color:rgba(255,255,255,0.15);
}

#battery {
    color: #ffffff;
    font-size: 16px;
    padding: 0 16px 0 10px;
    background-color:rgba(255,255,255,0.15);
}

#bluetooth {
    color: #0082FC;
    font-size: 18px;
    padding: 0 8px 0 0px;
    background-color:rgba(255,255,255,0.15);
}

#custom-network {
    color: #ffffff;
    font-size: 19px;
    padding: 0 24px 0 0;
    background-color:rgba(255,255,255,0.15);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#custom-cpu-icon {
    color: #ffa500;
    font-size: 16px;
    padding: 0 8px 0 16px;
    background-color:rgba(255,255,255,0.15);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#cpu {
    color: #ffffff;
    padding: 0 10px 0 0;
    background-color:rgba(255,255,255,0.15);
}

#custom-memory-icon {
    color: #ffa500;
    font-size: 14px;
    padding: 0 4px 0 0;
    background-color:rgba(255,255,255,0.15);
}

#memory {
    color: #ffffff;
    padding: 0 8px 0 0;
    background-color:rgba(255,255,255,0.15);
}

#custom-disk-icon {
    color: #ffa500;
    font-size: 14px;
    padding: 0 8px 0 0;
    background-color:rgba(255,255,255,0.15);
}

#disk {
    color: #ffffff;
    padding: 0 0 0 0;
    background-color:rgba(255,255,255,0.15);
}

#custom-clock-icon {
    margin-left: 25px;
    color: #ffa500;
    font-size: 16px;
    padding: 0 10px 0 16px;
    background-color:rgba(255,255,255,0.15);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#clock {
    color: #ffffff;
    padding: 0 16px 0 0;
    background-color:rgba(255,255,255,0.15);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#custom-date-icon {
    margin-left: 25px;
    color: #ffa500;
    font-size: 16px;
    padding: 0 10px 0 16px;
    background-color:rgba(255,255,255,0.15);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#custom-date {
    color: #ffffff;
    padding: 0 16px 0 0;
    background-color:rgba(255,255,255,0.15);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#custom-power {
    margin-left: 25px;
    color: #ffffff;
    padding: 0px 5px 0 10px;
    background-color:rgba(255,255,255,0.15);
    border-radius: 12px;
}

#custom-audio-icon {
    color:#ffa500;
    padding: 0 8px 0 8px;
    font-size: 14px;
    background-color:rgba(255,255,255,0.15);
}

#wireplumber {
    color: #ffffff;
    padding: 0 0 0 4px;
    background-color:rgba(255,255,255,0.15);
}
